<div ng-controller="contractorDashController">
  
  <div id="wrapper">

    <div class="container">

      <div class="row">
        <div class="header-divs col-md-4 col-sm-12 col-xs-12" id="header-div1"><img src=""> 
          DASHBOARD
        </div>
        <div class="header-divs col-md-4 col-sm-12 col-xs-12" id="header-div2">
          My details
        </div>
        <div class="header-divs col-md-4 col-sm-12 col-xs-12" id="header-div3">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-7" id="body-div1"><img src=""> 
          <div> {{ contractor }} </div>
        </div>

        <div class="col-xs-7" id="body-div1"><img src=""> 
          <div>
          <button ng-click="available()">
            Available now: {{ contractor.available_now }}
          </button>
          </div>
        </div>

        <div class="col-xs-7" id="body-div1"><img src=""> 
          <div>
            I will travel: 
           <select ng-options="o.name for o in options" ng-model="selectedOption" ng-change="update()"></select>
        </div>
      </div>

        <div class="col-xs-6" id="body-div1"><img src=""> 
          <div>
            My current location: 
            <map style="display:block;height:300px" />
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>




